@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide-track {
    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-button {  /* 添加这个来隐藏上下箭头 */
      background: transparent;
      border: none;
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 4px;
      border: none;
      background-clip: content-box;
    }

    /* Firefox */
    scrollbar-color: #999 transparent;
    scrollbar-width: thin;
  }
}
